@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Bienvenido a ProScrum</h2>

<h3>Seleccione la opción que desea</h3>

<p>
    @Html.ActionLink("Actualización de Proyectos", "Index", "Proyecto")
</p>
<p>
    @Html.ActionLink("Configuración de Proyectos", "Configure", "Proyecto")
</p>
