@model RedCell.ProScrum.WebUI.ViewModels.Proyecto.ConfigurarProyectoViewModel

@{
    ViewBag.Title = "Configure";
}

<h2>Configurar Proyecto</h2>

@Html.HiddenFor(x => x.ProyectoId, new { id = "hd_ProyectoId" })

<div class="row">
    <div class="block" data-bind="css: { 'selected-block': EsConfiguracion() }">Configuración de Script</div>
    <div class="block" data-bind="css: { 'selected-block': EsDefinicion() }">Definición del Product Backlog</div>
    <div class="block" data-bind="css: { 'selected-block': EsResumen() }">Resumen de Configuración</div>
</div>

<div data-bind='if: EsConfiguracion()'>

    <div>
        <div class="editor-label">
            Seleccione la duración en semanas
        </div>
        <div class="editor-field">
            <div style="width: 200px">
                <div data-bind="slider: SemanasEstimadas, sliderOptions: { min: 2, max: 8 }"></div>
                <input id="txt-semanasEstimadas" type="text" data-bind="value: SemanasEstimadas" onkeypress="return isNumber(event)" />
            </div>
        </div>
    </div>

    <div>
        <input id="chb-usarSecuencial" type="checkbox" data-bind="checked: UsarSecuencial" />
        &nbsp; Usar Secuencial de Script como nombre de 
    </div>
    <div>
        Ingrese Nombre del Sprint Inicial &nbsp;
        <input id="txt-nombreSprintInicial" data-bind="value: NombreSprintInicial" />
    </div>

    <div>
        Ingrese la fecha de inicio del Sprint Inicial
    <input id="dtp-inicio" type="text" data-bind="datepicker: FechaInicioSprintInicial, datepickerOptions: { minDate: new Date() }" />
    </div>

    <div>
        Ingrese el objetivo del Sprint
    <textarea id="txt-objetivoSprint" rows="2" cols="70" data-bind="value: ObjetivoSprint"></textarea>
    </div>

    <button data-bind="click: toDefinition">Siguiente</button>

</div>


<div data-bind='if: EsDefinicion()'>
    <div>
        <a href="#" data-bind='click: showInitialSprintUserStories'>
            <!--ko text: SprintUserStories().length-->
            <!--/ko-->
            User Stories en el Sprint Inicial</a>
        <a href="#" data-bind='click: showBacklogUserStories'>
            <!--ko text: BacklogUserStories().length-->
            <!--/ko-->
            User Stories en el Product Backlog</a>

    </div>


    <fieldset>
        <legend>User Story</legend>

        <div class="editor-label">
            Descripción
        </div>
        <div class="editor-field">
            <input id="txt-descripcionUserStory" data-bind="value: DescripcionUserStory" />
        </div>

        <div class="editor-label">
            Horas Estimadas
        </div>
        <div class="editor-field">
            <input id="txt-horasEstimadas" data-bind="value: HorasEstimadas" onkeypress="return isNumber(event)" />
        </div>

        <div>
            <input type="checkbox" data-bind="checked: PerteneceSprintInicial" />
            &nbsp; Pertenece al Sprint Inicial
            <button data-bind="click: showAddActivity">Agregar Actividades</button>
            <button data-bind="click: addUserStory">Agregar User Story</button>
        </div>

    </fieldset>

    <button data-bind="click: backToConfiguration">Anterior</button>
    <button data-bind="click: toResume">Siguiente</button>

</div>

<div data-bind='if: EsResumen()'>
    <fieldset>
        <legend>Detalle de la configuración</legend>
        
        <div class="editor-label">
            User Story Creados en Backlog
        </div>
        <div class="editor-field">
            <!--ko text: BacklogUserStories().length-->
            <!--/ko-->
        </div>

        <div class="editor-label">
            User Story asignados al Sprint Inicial
        </div>
        <div class="editor-field">
            <!--ko text: SprintUserStories().length-->
            <!--/ko-->
        </div>

        <div class="editor-label">
            Fecha de Inicio de Sprint Inicial
        </div>
        <div class="editor-field">
            <!--ko text: showInitialSprintStart()-->
            <!--/ko-->
        </div>

        <div class="editor-label">
            Fecha de Fin de Sprint Inicial
        </div>
        <div class="editor-field">
            <!--ko text: showInitialSprintEnd()-->
            <!--/ko-->
        </div>

    </fieldset>

    <button data-bind="click: backToDefinition">Anterior</button>

</div>

@section css
{
    @Styles.Render("~/Content/themes/base/css")
}

@section scripts {
    @Scripts.Render("~/bundles/jqueryui")
    <script type="text/javascript" src="@Url.Content("~/Scripts/Views/Proyecto/Configure/loader.js")"></script>
}