@model RedCell.ProScrum.WebUI.ViewModels.Proyecto.RegistroProyectoViewModel

@{
    ViewBag.Title = "Create";
}

<h2>Nuevo Proyecto</h2>

<fieldset>
    <legend>Datos de Proyecto</legend>

    <div class="editor-label">
        Empresa
    </div>
    <div class="editor-field">
        <select data-bind="options: empresas, optionsText: 'Nombre', optionsValue: 'EmpresaId', value: empresaSeleccionada, optionsCaption: 'Seleccione', event: { change: empresaChange }"></select>
    </div>

    <div class="editor-label">
        Contacto
    </div>
    <div class="editor-field">
        <select data-bind="options: contactos, optionsText: 'Nombre', optionsValue: 'ContactoId', value: contactoSeleccionado, optionsCaption: 'Seleccione'"></select>
    </div>

    <div class="editor-label">
        Mnemonico
    </div>
    <div class="editor-field">
        <input data-bind="value: mnemonico" />
    </div>

    <p>
        <button data-bind='click: save'>Registrar</button>
        <button data-bind='click: reset'>Limpiar</button>
    </p>
</fieldset>

<fieldset>
    <legend>Equipo de Proyecto</legend>

    <div class="editor-label">
        Nombre del Integrante
    </div>
    <div class="editor-field">
        <input type="text" data-bind="autoComplete: integrantesProyecto, source: '/Proyecto/ListarIntegrante'" />
    </div>

</fieldset>
<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section css {
    @Styles.Render("~/Content/themes/base/css")
}

@section scripts {
    @Scripts.Render("~/bundles/jqueryui")
    <script type="text/javascript" src="@Url.Content("~/Scripts/Views/Proyecto/Create/loader.js")"></script>
}

