@model IEnumerable<RedCell.ProScrum.WebUI.Models.Proyecto>
@using Recursos = RedCell.ProScrum.WebUI.ProyectoResourceStrings

@{
    ViewBag.Title = "Index";
}

@section css
{

}

@section scripts
{
    @Scripts.Render("~/bundles/jqueryevents")
    <script type="text/javascript" src="@Url.Content("~/Scripts/Views/Proyecto/Index/loader.js")"></script>
}

<h2>@Recursos.Proyecto_Titulo
</h2>

<p>
    @Html.ActionLink(Recursos.Proyecto_LabelCrear, "Create")
</p>

<table data-bind='visible: proyectos().length > 0'>
    <thead>
        <tr>
            <th>Cliente</th>
            <th>Descripcion</th>
            <th>Estado</th>
            <th>Encargado</th>
            <th />
        </tr>
    </thead>
    <tbody data-bind='foreach: proyectos'>
        <tr>
            <td data-bind='text: Cliente'></td>
            <td data-bind='text: Descripcion'></td>
            <td data-bind='text: Estado'></td>
            <td data-bind='text: Encargado'></td>
            <td>
                <a href="#" data-bind='click: $root.removeProject'>Actualizar</a>
                <a href="#" data-bind='click: $root.updateProject'>Eliminar</a>
            </td>
        </tr>
    </tbody>
</table>

<p> <!--ko text: proyectos().length--><!--/ko--> Registros Mostrados</p>
