@model IEnumerable<RedCell.ProScrum.WebUI.Models.Proyecto>
@using Recursos = RedCell.ProScrum.WebUI.ProyectoResourceStrings

@{
    ViewBag.Title = "Index";
}

@section css
{

}

@section scripts
{
    <script type="text/javascript" src="@Url.Content("~/Scripts/Views/Proyecto/Index/loader.js")"></script>
}

<h2>@Recursos.Proyecto_Titulo
</h2>

<p>
    @Html.ActionLink(Recursos.Proyecto_LabelCrear, "Create")
</p>

<div id="pnl-FiltrosConsultaProyecto">

    <select data-bind="options: empresas, optionsText: 'Nombre', optionsValue: 'EmpresaId', value: empresaSeleccionada, optionsCaption: 'Seleccione'"></select>
    <input data-bind="value: descripcion"/>
    <button data-bind='click: searchProject'>Buscar</button>
</div>


<div id="pnl-ProyectosActivos">
    <table>
        <thead>
            <tr>
                <th>Cliente</th>
                <th>Descripcion</th>
                <th>Estado</th>
                <th>Encargado</th>
                <th />
            </tr>
        </thead>
        <tbody data-bind='foreach: proyectos'>
            <tr>
                <td data-bind='text: Cliente'></td>
                <td data-bind='text: Descripcion'></td>
                <td data-bind='text: Estado'></td>
                <td data-bind='text: Encargado'></td>
                <td>
                    <a href="#" data-bind='click: $root.updateProject'>Actualizar</a>
                    <a href="#" data-bind='click: $root.removeProject'>Eliminar</a>
                </td>
            </tr>
        </tbody>
    </table>

    <p>
        <!--ko text: proyectos().length-->
        <!--/ko-->
        Registros Mostrados</p>

</div>
