@model IEnumerable<RedCell.ProScrum.WebUI.Models.Proyecto>
@using Recursos = RedCell.ProScrum.WebUI.ProyectoResourceStrings
@using Enums = RedCell.ProScrum.WebUI.Controllers.EstadoProyectoEnum

@{
    ViewBag.Title = "Index";
}

@section css
{

}

@section scripts
{
    <script type="text/javascript" src="@Url.Content("~/Scripts/Views/Proyecto/Index/loader.js")"></script>
}

<div class="page-header">
    <h2>@Recursos.Proyecto_Titulo
    </h2>
</div>


<p>
    @Html.ActionLink(Recursos.Proyecto_LabelCrear, "Create", null, new { @class = "btn btn-default" })
</p>

<br />

<div id="pnl-FiltrosConsultaProyecto" class="row">
    <div class="col-xs-2">
        <select data-bind="options: empresas, optionsText: 'Nombre', optionsValue: 'EmpresaId', value: empresaSeleccionada, optionsCaption: 'Seleccione'" class="form-control"></select>
    </div>
    <div class="col-xs-2">
        <input type="text" class="form-control" data-bind="value: descripcion" placeholder="Ingrese descripción" />
    </div>
    <div class="col-xs-2">
        <button data-bind='click: searchProject' class="btn btn-default">Buscar</button>
    </div>
</div>

<br />

<div id="pnl-ProyectosActivos">
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Cliente</th>
                <th>Descripcion</th>
                <th>Estado</th>
                <th>Encargado</th>
                <th />
            </tr>
        </thead>
        <tbody data-bind='foreach: proyectos'>
            <tr>
                <td data-bind='text: Cliente'></td>
                <td data-bind='text: Descripcion'></td>
                <td data-bind='text: Estado'></td>
                <td data-bind='text: Encargado'></td>
                <td>
                    <a href="#" class="btn btn-default btn-sm" data-bind='click: $root.updateProject'>Actualizar</a>
                    <!--ko if: EstadoProyectoId == @((int)Enums.PorConfigurar)-->
                    <a href="#" class="btn btn-default btn-sm" data-bind="click: $root.removeProject">Eliminar</a>
                    <!--/ko-->
                </td>
            </tr>
        </tbody>
    </table>

    <h3>
        <!--ko text: proyectos().length-->
        <!--/ko-->
        Registros Mostrados</h3>

</div>
