@model RedCell.ProScrum.WebUI.Models.LoginModel

@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}

<div class="container">
    @using (Html.BeginForm("LogOn", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-signin", @role = "form" }))
    {
        <h2 class="form-signin-heading">Inicie Sesión</h2>
      
        <input class="form-control" type="text" autofocus="autofocus" name="UserName" required="required" pattern="^[a-zA-Z]+$" title="Codigo de 10 letras" maxlength="10" placeholder="Codigo de Usuario">
        <input class="form-control" type="password" required="required" name="Password" placeholder="Contraseña" title="Contraseña del sistema">
        <label class="checkbox">
            <input type="checkbox" name="RememberMe" value="true">
            Permanecer Conectado
        </label>
        <input class="btn btn-lg btn-primary btn-block" type="submit" value="Iniciar Sesión" />
    }
</div>
