@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Board</title>
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/TaskBoard.css")" />
</head>
<body class="body-board-background">
    <div id="surface" class="clearfix" style="height: initial;">
        <div id="header">
        </div>
        <div id="content" class="clearfix">
            <div class="board-wrapper">
                <div class="board-canvas" style="min-height: 358px;">
                    <div id="board" class="clearfix">
                        <div class="list-area-wrapper">
                            <div class="list-area">
                                <!-- Zona de Listas de Objetos -->
                                <div class="list">
                                    <div class="list-header non-empty clearfix editable">
                                        <h2 class="list-header-name hide-on-edit current">To Do</h2>
                                    </div>
                                    <div class="list-cards fancy-scrollbar clearfix " style="max-height: 646px;">
                                    </div>
                                    @*                                     <a href="#" class="open-card-composer js-open-card-composer">Add a card…</a>*@
                                </div>
                                <div class="list">
                                    <div class="list-header js-list-header non-empty clearfix editable">
                                        <h2 class="list-header-name hide-on-edit js-list-name current">Doing</h2>
                                    </div>
                                    <div class="list-cards fancy-scrollbar clearfix" style="max-height: 646px;">
                                        <div class="list-card">
                                            <div class="list-card-labels clearfix">
                                                <span class="card-label card-label-red"></span>
                                                <span class="card-label card-label-yellow"></span>
                                                <span class="card-label card-label-green"></span>
                                                <span class="card-label card-label-blue"></span>
                                                <span class="card-label card-label-orange"></span>

                                            </div>
                                            <div class="list-card-details clearfix">
                                                <a class="list-card-title clear js-card-name" href="#">
                                                    <span class="card-short-id hide">1</span>User Story 01</a>
                                                <div class="badges">
                                                    <div class="badge badge-state-image-only">
                                                        <span class="badge-icon icon-sm icon-lock"></span>
                                                    </div>
                                                    <div class="badge">
                                                        <span class="badge-icon icon-sm icon-checklist"></span>
                                                        <span class="badge-text">1/3</span>
                                                    </div>
                                                </div>
                                                <div class="list-card-members">
                                                    <div class="member">
                                                        <span class="member-initials">⚙</span>
                                                    </div>
                                                    <div class="member">
                                                        <span class="member-initials">B  </span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    @*                                     <a href="#" class="open-card-composer js-open-card-composer">Add a card…</a>*@
                                </div>
                                <div class="list">
                                    <div class="list-header non-empty clearfix editable">
                                        <h2 class="list-header-name hide-on-edit current">Done</h2>
                                    </div>
                                    <div class="list-cards fancy-scrollbar clearfix " style="max-height: 646px;">
                                    </div>
                                    @*                                     <a href="#" class="open-card-composer js-open-card-composer">Add a card…</a>*@
                                </div>
                                <!-- Zona de Listas de Objetos -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="window-overlay">
        <div class="window" style="display: block; left: 424px; top: 50px;">
            <div class="window-wrapper clearfix" style="">
                <div class="dialog-close-button"><a title="Cerrar esta ventana." class="icon-lg icon-close dark-hover js-close-window"></a></div>
                <div class="clearfix editable js-dialog-container">
                    
                </div>
            </div>
        </div>
    </div>
    @Scripts.Render("~/bundles/jquery")
    <script type="text/javascript" src="@Url.Content("~/Scripts/BoardWindowManager.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/Views/TaskBoard/Board/loader.js")"></script>
</body>
</html>
