@model List<RedCell.ProScrum.WebUI.Models.Proyecto>

@{    
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/TaskBoard.css")" />
</head>
<body class="tabbed-page">
    <div id="surface" class="clearfix" style="height: initial">
        <div id="header">
        </div>
        <div id="content" class="clearfix">
            <div class="member-boards-view">
                <div class="window-module">
                    <div class="window-module-title window-module-title-no-divider">
                        <span class="icon-lg window-module-title-icon icon-member"></span>
                        <h3>Mis Proyectos</h3>
                    </div>
                </div>
                <!-- Zona de Proyextos !-->
                <ul class="board-list gutter js-board-list clearfix">
                    
                    @foreach (var item in Model) {
                        
                        <li>
                            <a class="js-open-board highlight-icon unknown" style="background-color: #999999;" href="/b/ddkgJtzX/test">
                                <span class="fade"></span>
                                <span class="details">
                                    <span class="board-list-item-name" title="@item.Nombre">@item.Nombre</span>
                                    <span class="icon-sm icon-popup"></span>
                                </span>
                            </a>
                        </li>

                    }

                </ul>
                <!-- Zona de Proyextos !-->
            </div>
        </div>
    </div>
</body>
</html>