<div class="window-header clearfix">
    <span class="window-header-icon icon-lg icon-card"></span>
    <div class="window-title card-detail-title non-empty inline  editable  ">
        <h2 class="window-title-text current hide-on-edit">Validar User Story</h2>
    </div>
</div>